@model WebCuaHangSach.Models.AccountLogin
@{
    ViewBag.Title = "Login";
}

@*<main class="page-section inner-page-sec-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">

                    <div class="login-box">
                        <h4 class="login-title">New Customer</h4>
                        <p><span class="font-weight-bold">Register</span></p>
                        <p>
                            By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the
                            orders
                            you have previously made.
                        </p>
                        <a href="~/Account/Register" class="btn btn-outlined   mr-3">Continue</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                    <form action="~/Account/Login" method="post">
                        <div class="login-form">
                            <h4 class="login-title">Returning Customer</h4>
                            <p><span class="font-weight-bold">I am a returning customer</span></p>
                            <div class="row">
                                <div class="col-md-12 col-12 mb--15">
                                    <label for="email">Enter you email address here...</label>
                                    <input class="mb-0 form-control" type="text" name="UserName" id="UserName" placeholder="Enter your username here...">
                                </div>
                                <div class="col-12 mb--20">
                                    <label for="password">Password</label>
                                    <input class="mb-0 form-control" type="PassWord" name="PassWord" id="PassWord">
                                    <a href="" class="forget-pass">Forgotten Password</a>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-outlined" value="Đăng nhập" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>*@
<!-- Loging Area Start -->
<div class="login-account section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6" style="padding-left: 350px;padding-right: 500px;width: 11000px;">
                <form action="#" class="create-account-form" method="post" style="width: 536px;">
                    <h2 class="heading-title">
                        ALREADY RESIGTERED?
                    </h2>
                    <p class="form-row">
                        <input type="text" placeholder="Email address" name="UserName" id="UserName">
                    </p>
                    <p class="form-row">
                        <input type="password" placeholder="Password" name="PassWord" id="PassWord">
                    </p>
                    <p class="lost-password form-group" style="margin-left: 180px;">
                        <a href="#" rel="nofollow">Forgot your password?</a>
                    </p>
                    <div class="submit">
                        <button name="submitcreate" id="submitcreate" type="submit" class="btn-default" style="border-left-width: 1px;margin-left: 200px;">
                            <span>
                                <i class="fa fa-user left"></i>
                                SIGN IN
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Loging Area End -->