
@{
    ViewBag.Title = "AddBookType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>



@{
    ViewBag.Title = "AddBookType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Admin/ListBookType">Admin</a><i class="fa fa-angle-right"></i>Sửa thông tin thể loại sách</li>
</ol>
<div class="col-md-5 grid-form1">
    <form style="float:left; width:400px" action="~/BookType/ModifyBookType" method="post">
        <input type="hidden" value="@ViewBag.BookType.ID" id="ID" name="ID" />
        <div class="form-group">
            <label class="col-md-4 control-label">Tên Thể Loại:</label>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-book"></i>
                    </span>
                    <input type="text" value="@ViewBag.BookType.Name" id="Name" name="Name" />
                </div>
            </div>


        </div>
        <div class="form-group">
            <input class="btn btn-warning" type="submit" value="Cập Nhật" />
        </div>
    </form>
</div>



