
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<body>

    <h1>My Web Page</h1>

    <div id="piechart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable();
            data.addColumn('')
            // Optional; add a title and set the width and height of the chart
            var options = { 'title': 'My Average Day', 'width': 550, 'height': 400 };

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>

</body>
</html>














@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Tạo biểu đồ với Google chart trong MVC</title>
    </head>
    <body>
        <h1>Tạo biểu đồ với Google chart trong MVC</h1>
        <div id="piechart" style="width: 900px; height: 500px;"></div>  // Biểu đồ phần trăm
        <div id="chart_div" style="width: 900px; height: 500px;"></div> // Biểu đồ cột

        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script type="text/javascript">
            function jsonThongKeTheoLop(handleData) {
                $.ajax({
                    url: "/Chart/GetJsonData",
                    //data: JSON.stringify(dto),
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (result) {
                        handleData(result);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
                return false;
            }
        </script>

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", { packages: ["corechart"] });

            var totalCost = [];
            var id = [];
            //var datas;
            jsonThongKeTheoLop(function (data) {
                $.each(data, function (i, item) {
                    totalCost.push([item.].toString());
                    id.push([item.SoLuongSV]);

                    //datas = data; // Dành cho biểu đồ cột
                });
                google.setOnLoadCallback(drawChartSv);
                google.setOnLoadCallback(drawChart);
            });

            function drawChartSv() {
                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'ID');
                data.addColumn('number', 'TotalCost');

                data.addRows(5);

                for (var i = 0; i < 5; i++) {
                    data.setCell(i, 0, id[i] + ' (' + totalCost[i] + ' $)');
                    data.setCell(i, 1, parseInt(totalCost[i]));
                }
                // Set chart options
                var options = {
                    'title': 'Thống kê số tiền các hóa đơn',
                    is3D: true
                };

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }
            function drawChart() {
                var dataArray = [['ID', 'Tổng Tiền']];
                $.each(datas, function (i, item) {
                    dataArray.push([item.ID, item.TotalCost]);
                });

                var data = new google.visualization.arrayToDataTable(dataArray);
                var options = {
                    title: 'So sánh số tiền giữa các hóa đơn',
                    hAxis: { title: 'Hóa đơn', titleTextStyle: { color: 'red' } }
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

                chart.draw(data, options);

            }

        </script>
    </body>
    </html>*@
